---
permalink: /rss.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ site.name }}文章更新</title>
  <subtitle>{{ site.description }}</subtitle>
  <link href="{{ '/rss.xml' | absoluteUrl(site.url) }}" rel="self"/>
  <link href="{{ '/' | absoluteUrl(site.url) }}"/>
  <updated>{{ collections.posts[0].date | dateToRfc3339 }}</updated>
  <id>{{ '/' | absoluteUrl(site.url) }}</id>
  <author><name>{{ site.author }}</name></author>
  {% for post in collections.posts %}<entry><title>{{ post.data.title }}</title><link href="{{ post.url | absoluteUrl(site.url) }}"/><updated>{{ post.date | dateToRfc3339 }}</updated><id>{{ post.url | absoluteUrl(site.url) }}</id><summary>{{ post.data.description }}</summary></entry>{% endfor %}
</feed>
